

.container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.127);
    min-height: 100vh;
   
    
}
.side{
    background-color: #fff;
}

.deposit{
    background-color: rgba(0, 0, 0, 0.063);
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
   
}
.sbtn{
    background-color: transparent;
    position: absolute;
    top: 0;
    margin-bottom: 2rem;
 
}
.first{
    margin-top: 7rem;
    background-color: white;
    border-radius: 1rem;
    width: 70vw;
    align-items: center;
    position: relative;
}

.first a button{
    position: absolute;
    right: 0;
    z-index: 1;
    margin: 1rem;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.8rem;
    padding: 0.5rem;
}


.toast{
    position: absolute;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1rem;
    z-index: 99;
}
.toast2{
    position: absolute;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 1rem;
    z-index: 99;
}
.toast1{
    position: absolute;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 1rem;
    z-index: 99;
}
