.savingFd{
    display: flex;
    flex-direction: column;
  
   
    
}


.stlink{
    text-decoration: none;
    color: inherit;
    
   
}
.checkStudent{
    margin-left: 20rem;
    padding: 0.5rem 4rem;
    background-color:black;
    border: none;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    
    
}
.checkStudent:hover{
    background-color: rgb(44, 43, 43);
}
table{
    padding: 1rem 3rem;
}

th{
    padding: 1rem 2.5rem;
    background-color: rgba(0, 213, 255, 0.981);
    position: sticky;
    top: 0.1rem;
}
td{
    background-color: rgba(128, 128, 128, 0.067);
    padding: 1rem;
}
tr:hover{
    background-color: rgba(0, 0, 0, 0.145);
}
