nav{
    display: flex;
    background-color: #fff;
    height: 4.5rem;
    width: 85.9vw;
    margin-bottom: 2rem;
    justify-content: space-between;
   
}

.search{
    display: flex;
    border-radius: 1rem;
    background-color: white;
    align-items: center;
    margin-right: 2rem;
}
.search input{
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 1.3rem;
    color: black;
    padding: 0.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.374);
}
.search button{
    background-color: transparent;
    border: none;
}
.search img{
    background-color: transparent;
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
}
.banks{
    display: flex;
    margin-left: 5rem;
    gap: 2rem;
    align-items: center;
}
.banks a{
    color: inherit;
    text-decoration: none;
}
.firsts{
    padding: 1rem;
}
.firsts:hover{
    background-color: black;
    color: white;
}