.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

   
    
}
form{
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    
}
.register{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 20rem;
}
.register h1{
    font-weight: 800;
    font-size: 3rem;
}




.inputs{
    display: flex;
    border-bottom: 2px solid grey;
    align-items: center;
    gap: 0.5rem;
   
}

.inputs img{
    height: 1.5rem;
    width: 1.5rem;

}


.inputs input{
    padding: 0.5rem;
    border: none;
    font-weight: 500;
    font-size: 1.2rem;
    outline: none;
    
}

.button{
    cursor: pointer;
    background-color: rgb(37, 163, 212);
    border: none;
    width: max-content;
    padding: 1rem 2rem;
    font-weight: bolder;
    color: white;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.button:hover{
    background-color: rgb(13, 177, 241);

}

.registers{
    width: 50vw;
    height: 70vh;
}

.logins{
    margin-right: 3rem;
}
